{% extends 'base.html' %}

{% block content %}

<table class="table small table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">Personnages en grec</th>
        <th scope="col">Personnages en français</th>
        <th scope="col">Accessoires</th>
        <th scope="col">Encycleme</th>
        <th scope="col">Mechane</th>
    </tr>
    </thead>
    <tbody>
    <!--    { % set columnNames = ['greek', 'french', 'accessories'] %}-->
    {% for colName in ['greek', 'french', 'accessories']%}
    <td>
        <div id="{{colName}}Characters"></div>
        <br>
        <button action="add" type="button" class="btn btn-success" aria-label="Add" data-bs-toggle="modal"
                data-bs-target="#{{colName}}AddCharModal">Ajouter
        </button>

        <div class="modal fade" id="#{{colName}}AddCharModal" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un personnage</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="addCharGreekInput" class="form-label">Entrez le nom du Personnage</label>
                        <input type="text" class="form-control" id="addCharGreekInput" ,
                               aria-describedby="addCharGreek">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" id="{{greek}}AddCharButton"
                                class="btn btn-primary">Ajouter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </td>

    {% endfor %}


    <td>
        <div class="form-check">
            < Encycleme" id="radioEncyclemeNo">
            <label class="form-check-label" for="radioEncyclemeNo">
                Oui
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioEncycleme" id="radioEncyclemeYes" checked>
            <label class="form-check-label" for="radioEncyclemeYes">
                Non
            </label>
        </div>
    </td>
    <td>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioMechane" id="radioMechaneNo">
            <label class="form-check-label" for="radioMechaneNo">
                Oui
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioMechane" id="radioMechaneYes" checked>
            <label class="form-check-label" for="radioMechaneYes">
                Non
            </label>
        </div>
    </td>


    </tr>
    </tbody>
</table>

{% endblock %}