{% extends 'base.html' %}

{% block content %}

<table class="table small table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">Personnages en grec</th>
        <th scope="col">Personnages en français</th>
        <th scope="col">Accessoires</th>
        <th scope="col">Encycleme</th>
        <th scope="col">Mechane</th>
    </tr>
    </thead>
    <tbody>
    {% for colName in ['greek', 'french']%}
    <td>
        <div id="{{colName}}Characters"></div>
        <br>
        <button action="add" type="button" class="btn btn-success" aria-label="Add" data-bs-toggle="modal"
                data-bs-target="#{{colName}}AddCharModal">Ajouter
        </button>

        <div class="modal fade" id="{{colName}}AddCharModal" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un personnage</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="{{colName}}AddCharInput" class="form-label">Entrez le nom du Personnage</label>
                        <input type="text" class="form-control" id="{{colName}}AddCharInput" ,
                               aria-describedby="{{colName}}AddChar">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" id="{{colName}}AddCharButton"
                                class="btn btn-primary" , data-bs-dismiss="modal">Ajouter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </td>

    {% endfor %}

    <td>
        <div id="accessories"></div>
        <br>
        <div class="align-end>
            <button action="add" type="button" class="btn btn-success" aria-label="Add" data-bs-toggle="modal"
                    data-bs-target="#addAccessoryModal">Ajouter
            </button>
        </div>

        <div class="modal fade" id="addAccessoryModal" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un accessoire</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="addAccessoryInput" class="form-label">Entrez le nom du Personnage</label>
                        <input type="text" class="form-control" id="addAccessoryInput" ,
                               aria-describedby="addAccessory">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" id="addAccessoryButton"
                                class="btn btn-primary" , data-bs-dismiss="modal">Ajouter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </td>


    <td>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioEncycleme" id="radioEncyclemeYes">
            <label class="form-check-label" for="radioEncyclemeYes">
                Oui
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioEncycleme" id="radioEncyclemeNo" checked>
            <label class="form-check-label" for="radioEncyclemeNo">
                Non
            </label>
        </div>
        <button id="saveEncycleme" action="save" type="button" class="btn btn-primary" aria-label="save">Enregistrer
        </button>

    </td>
    <td>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioMechane" id="radioMechaneYes">
            <label class="form-check-label" for="radioMechaneYes">
                Oui
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioMechane" id="radioMechaneNo" checked>
            <label class="form-check-label" for="radioMechaneNo">
                Non
            </label>
        </div>
        <button id="saveMechane" action="save" type="button" class="btn btn-primary" aria-label="save">Enregistrer
        </button>

    </td>


    </tr>
    </tbody>
</table>


<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">Num de phrase</th>
        <th scope="col">Vers</th>
        <th scope="col">Personnage</th>
        <th scope="col">Texte grec</th>
        <th scope="col">Texte français</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>

    </tr>
    <tr>
        <th scope="row">2</th>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
    </tr>
    </tbody>
</table>

{% endblock %}